/* Semibold Header Styles */
.semibold-header {
  font-weight: 400; /* Semibold font weight */
  font-size: 20px; /* Font size set to 20px */
  /* Additional styles such as text-transform, letter-spacing, etc. can be added as needed */
}

/* Primary Button Styles */
.btn-primary{color:#fff;background-color:#5959eb;border-color:#5959eb}

.btn-primary:hover{color:#fff;background-color:#3737e7;border-color:#2b2be6}

.btn-primary.focus,.btn-primary:focus{color:#fff;background-color:#3737e7;border-color:#2b2be6;box-shadow:0 0 0 .2rem rgba(114,114,238,.5)}

.btn-primary.disabled,.btn-primary:disabled{color:#fff;background-color:#5959eb;border-color:#5959eb}

.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle{color:#fff;background-color:#2b2be6;border-color:#2020e4}

.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(114,114,238,.5)}

/* Secondary Button Styles */
.btn-light {
  border-radius: 4px; /* Rounded corners with a radius of 4 pixels */
  /* Additional styles such as color, border, padding, etc. can be added as needed */
}

/* Secondary Button Hover Styles */
.btn-light:hover {
  background-color: #ebebf1; /* Background color set to a light gray (#ebebf1) on hover */
}

/* Article Text Styles */
.article-text {
  font-family: 'Noto Sans', sans-serif; /* Set font family to 'Noto Sans', sans-serif */
  font-weight: 400; /* Regular font weight */
  font-size: 14px; /* Font size set to 14px */
  color: #09092D; /* Text color set to a dark shade (#09092D) */
  overflow: hidden; /* Hide overflow content */
}
